@{
	List<AzureCosmosDB.Models.Person> items = ViewBag.Results;
}
<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link href="//fonts.googleapis.com/css?family=Montserrat:400,500,600&amp;subset=latin-ext" rel="stylesheet" />
	<link href="~/css/cosmos.css" rel="stylesheet" />
	<title>Cosmos DB</title>
</head>
<body>

	<div class="wrapper">
		<h1>Azure Cosmos DB</h1>

		<div class="buttons">
			<a class="button" href="@Url.Action("add", "")">Add new record</a>
		</div>

		@if (items != null)
		{
			<table>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th></th>
				</tr>
				@foreach (var item in items)
				{
					<tr>
						<td>@item.Name.First @item.Name.Last</td>
						<td>@item.Email.Data</td>
						<td>@item.Phone.Data</td>
						<td class="right-aligned">
							<a href="@Url.Action("edit", "")/@item.Id">Edit</a>
							|
							<a href="@Url.Action("delete", "")/@item.Id">Delete</a>
						</td>
					</tr>
				}
			</table>
		}
		else
		{
			<p class="centered">
				No records found!
			</p>
		}
	</div>
</body>
</html>